/* font-start */

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

/* font-end */

/* menu-start */

.container {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  margin: auto;
  max-width: 1200px;
  margin-top: 100px;
}

.contentBlock {
  margin: 50px 0 50px 0;
}

.modal {
  opacity: 0;
  pointer-events: none;
  transition: 1s;
}

.showModal {
}

.tables {
}

.table p {
  margin: 10px;
}

.form  {
  width: 500px;
  background-color: #fff;
}
