@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #fffeef;
  color: #8B4513;
}

/* A9A9A9 */
/* 8B4513 */


/* Светло-дубовый (или ореховый): #FEEBB3 или #FFEBCD - это оттенки, напоминающие поверхность светлого дубового дерева.
Бежевый-теплый: #F5F5DC - напоминает естественный свет на дубовых поверхностях.
Тусклый зеленый (листва): #A9A9A9 или #9ACD32 - символизирует окружающую растительность.
Глубокий коричневый (дубовые детали): #8B4513 или #7B68EE (для более насыщенного контраста).
Белый или кремовый (для акцентов и контраста): #FFFFFF или #F8F8FF. */